@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Nunito:wght@400;600&display=swap');
@font-face {
  font-family: 'Aud';
  src: url("Aud-Regular.otf") format('opentype');
}

.aud {
  font-family: 'Aud';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(224, 224, 224);
}

section {
  padding: 20px;
  /*
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  */
}